<template>
  <section>
    <div class="container">
      <h1>Calculatrice</h1>
      <p class="result">
        {{ currentNum }}
      </p>
      <div class="select">
        <small v-if="selectedOperation"
          >{{ prevNum }} {{ selectedOperation }} {{ currentNum }}</small
        >
      </div>
      <div class="btn-container">
        <button @click="pressed('1')" class="btn">1</button>
        <button @click="pressed('2')" class="btn">2</button>
        <button @click="pressed('3')" class="btn">3</button>
        <button @click="pressed('+')" class="btn">+</button>
        <button @click="pressed('4')" class="btn">4</button>
        <button @click="pressed('5')" class="btn">5</button>
        <button @click="pressed('6')" class="btn">6</button>
        <button @click="pressed('-')" class="btn">-</button>
        <button @click="pressed('7')" class="btn">7</button>
        <button @click="pressed('8')" class="btn">8</button>
        <button @click="pressed('9')" class="btn">9</button>
        <button @click="pressed('*')" class="btn">*</button>
        <button @click="pressed('c')" class="btn">C</button>
        <button @click="pressed('0')" class="btn">0</button>
        <button @click="pressed('=')" class="btn">=</button>
        <button @click="pressed('/')" class="btn">/</button>
      </div>
    </div>
  </section>
</template>

<script>
import { ref } from "vue";
import { onMounted, onUnmounted } from "vue";
export default {
  setup() {
    const operations = ["+", "-", "*", "/"];
    const numbers = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "0"];
    const currentNum = ref("");
    const prevNum = ref("");
    const selectedOperation = ref("");
    function pressed(value) {
      if (value === "=" || value === "Enter") calculate();
      else if (value === "c") clear();
      else if (operations.includes(value)) applyOperation(value);
      else if (numbers.includes(value)) appendNumber(value);
    }
    function appendNumber(value) {
      currentNum.value = currentNum.value + value;
    }
    function applyOperation(value) {
      calculate();
      prevNum.value = currentNum.value;
      currentNum.value = "";
      selectedOperation.value = value;
    }
    function calculate() {
      if (selectedOperation.value === "*") multiply();
      else if (selectedOperation.value === "/") divide();
      else if (selectedOperation.value === "-") subtract();
      else if (selectedOperation.value === "+") sum();
      prevNum.value = "";
      selectedOperation.value = "";
    }
    function multiply() {
      currentNum.value = prevNum.value * currentNum.value;
    }
    function divide() {
      currentNum.value = prevNum.value / currentNum.value;
    }
    function subtract() {
      currentNum.value = prevNum.value - currentNum.value;
    }
    function sum() {
      currentNum.value = +prevNum.value + +currentNum.value;
    }
    const clear = () => (currentNum.value = "");

    const handleKeydown = (e) => pressed(e.key);

    onMounted(() => window.addEventListener("keydown", handleKeydown));

    onUnmounted(() => window.removeEventListener("keydown", handleKeydown));

    return { currentNum, pressed, selectedOperation, prevNum };
  },
};
</script>

<style scoped>
section {
  display: flex;
  width: 100%;
}
h1 {
  text-align: center;
}
.container {
  margin: 0 auto;
}
.btn-container {
  margin: 2.5rem 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}
.btn {
  border-width: 1px;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 8px #000;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
}
.result {
  text-align: right;
  font-style: 1.875rem;
  line-height: 2.25rem;
  width: 14rem;
  height: 2.5rem;
  overflow-x: scroll;
  direction: rtl;
}
.select {
  height: 1.5rem;
}
</style>